body {
    margin: 0 auto 0 auto;
    font-family: Arial, serif;
    color: #6A6B6B;
    display: flex;
    flex-direction: column;
}

p > b {
    margin: 0;
}

header {
    border-top: none;
    display: flex;
    align-content: space-around;
    justify-content: flex-start;
    height: 4em;
    width: 80vw; 
    margin: auto;
}

header > a, b {
    font-size: 1em;
    margin-top: auto;
    margin-bottom: auto;
}

header > b, div > h2 {
    color: black;
}

header > a {
    margin-left: 1em;
    color: gray;
    text-decoration: none;
}

header > a:last-child {
    margin-left: auto;
    margin-right: 1em;
}

header > a:last-child:hover {
    color: blue;
    text-decoration: revert
}

.background-stripe {
    background-color: aliceblue;
}

#about-me {
    margin: 0 auto 2em auto;
    display: flex;
    flex-direction: column;
    max-width: 80vw;
}

.description {
    margin-top: auto;
    margin-bottom: auto;
    max-width: 50vw;
}

.description > p {
    padding: 1em;
}

img.user-icon {
    width: 15em;
    height: 15em;
    margin: 1em;
    object-fit: cover;
    border-radius: 30%;
    box-shadow: 20px 20px 25px 0px rgb(0 0 0 / 30%);
}

#my-projects {
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 80vw;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#my-projects > div > div {
    padding: 1em;
    width: 35em;
    margin: 1em;
    border-radius: 1em;
    box-shadow: 10px 10px 25px 0px rgb(0 0 0 / 30%);
}

#my-projects > div > h3 {
    color: black;
    margin: 0.2em auto 0.2em auto;
}

.project {
    cursor: pointer;
    transition: all .2s ease-in-out; 
}

.project:hover {
    transform: scale(1.005);
}

.project > div {
    display: flex;
    flex-direction: row;
}

.project > div > img {
    width: 10em;
    height: 10em;
    border-radius: 2em;
    margin-left: auto;
    background: antiquewhite;
}

.project > div > h4 {
    margin-right: 1em;
}


@media (max-width: 1024px) {
    #my-projects {
        max-width: 95vw;
    }

    .description {
        max-width: revert;
    }

    header {
        width: revert;
    }

    header > b, header > a:last-child {
        display: none;
    }
    
}